*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 22px;
    padding: 2rem 0;
}
.message-box{
    background: rgba(255, 245, 247, 0.9);
    padding: 1.5rem;
    border-radius: 5px;
    width: 60%;
    font-size: 14px;
    /* position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%); */
    box-shadow: 0 0 0 5px rgb(245, 103, 126);
    letter-spacing: 0.01em;
    margin-bottom: 2rem;
}
.message-box div p{
    margin-bottom: 15px;
}

.text-right{
    text-align: right;
}

@media(max-width:800px){
    .message-box{
        width: 90%;
        font-size: 13px;
    }
}